@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html,
	body,
	#root {
		user-select: none;
		font-size: 14px;
		background-color: rgba(23, 18, 25);
		width: 100vw;
		height: 100vh;
		@apply text-primary;
	}

	h1 {
		font-weight: 600;
		@apply mb-2 text-muted;
	}
}

@layer components {
	/* Path: src\components\Button.css */
	.gradient {
		background: linear-gradient(
			50deg,
			rgba(255, 209, 139, 0.3) 9.22%,
			rgba(255, 183, 217, 0.3) 33.5%,
			rgba(139, 186, 255, 0.3) 78.79%
		);
	}
}
